body
{
	background-color: blue;
}

#para1
{
	color: #33CC00;
}

#para2
{
	color: #6B238E;
}

#para3
{
	color: #5C3317;
}

#para4
{
	color: #5C3317;
}

#para5
{
	color: #5C3317;
}

#para6
{
	color: #5C3317;
}

#para7
{
	color: #5C3317;
}

#para8
{
	color: #5C3317;
}

#para9
{
	color: #5C3317;
}

#para10
{
	color: #5C3317;
}

#para11
{
	color: #5C3317;
}

#para12
{
	color: #5C3317;
}

.klasa1
{
	display: inline-block;
	border: 2px solid #dedede;
}



